[submodule "Vendor/facebook-ios-sdk"]
	path = Vendor/facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
	ignore = dirty
[submodule "Vendor/CocoaAsyncSocket"]
	path = Vendor/CocoaAsyncSocket
	url = git@github.com:robbiehanson/CocoaAsyncSocket.git
[submodule "Vendor/CocoaLumberjack"]
	path = Vendor/CocoaLumberjack
	url = git@github.com:robbiehanson/CocoaLumberjack.git
[submodule "Vendor/KissXML"]
	path = Vendor/KissXML
	url = git@github.com:robbiehanson/KissXML.git
